.alert {
  /* background: #000; */
  z-index: 5;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex; 
  align-items: center;
  flex-direction: column; 
  text-transform: uppercase;
  font-family: monospace;
  /* width: 100%; */
  display: none;
}

.inputError {
  border: 1px solid rgba(0, 183, 255, 0.784);
}

.alert-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #000;
  /* padding: 0rem 1rem; */
  border-radius: 4px;
  /* margin: 0.5rem 0; */
}


.alert .fa {
  /* color: blue;
  margin-right: 1rem;
  font-size: 1.3rem; */
}

.alert h5 {
  margin: auto;
  font-size: 16px;
  padding: 0.5rem 1rem;
}

.alert h5 span {
  color: #fff;
}

.alert2 {
  width: 250px;
  position: absolute;
  top: 10px;
  left: calc(50% - 125px);
  z-index: 5;
  margin: 0 auto;
}

.alert2 .alert-item {
  padding: 0.2rem 0.5rem;
}


